body {
	/* --color-bg: hsl(257.59, 100%, 10%); */
	--color-bg: hsl(256.62, 52.85%, 10%);
	--color-text: #eee;

	--brand-dark-purple: #5e3abc;
	--brand-light-purple: #d6c5ff;
	--brand-dark-yellow: #ffb800;
	--brand-light-yellow: #ffd058;
	--brand-light-yellow-2: #fff078;

	--margin-root: 0.5rem;

	--max-width: 42rem;

	background-color: var(--color-bg);

	color: var(--color-text);
	font-family: monospace;
	font-size: 1.2em;

	/* No padding or margin, it is all added on other (child) elements */
	padding: 0;
	margin: 0;

	/* This is so that we can have a max-width page (ie content doesn't grow past a certain width but stays in the center) and still have the background extend on all sides */
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	/* The verticle (top and bottom) margins are 0,
	 * the horizontal (left and right) margins are --margin-root
	 */
	margin: 0 var(--margin-root);

	width: calc(100% - var(--margin-root) * 2);
	max-width: var(--max-width);
}

h1 {
	color: var(--brand-light-yellow);
	text-align: center;
	font-size: 3rem;
}

/* Add a "#" before the text of every h2 */
h2::before {
	content: '# ';

	/* Reduce visual emphasis on this */
	opacity: 0.5;
}

#main-nav-wrapper {
	/* Fill the full width of the screen. */
	width: 100%;

	/* This is 50% darker than the main background color.
	 * It is a set hex value so it is consistent with the theme color.
	 */
	/* background-color: hsl(256.62, 52.85%, 5%); */

	/* This is to allow the background for the nav to extend 100% of the width of the page, but have the text stay aligned with the main content */
	display: flex;
	justify-content: center;
}

#main-nav {
	/* This is using flex like it was intended *gasps*
	 * to align elements in a 1-D list (the nav bar)
	 */
	display: flex;
	flex-wrap: wrap;

	/* Fill 100% of the available space, limited by the screen size and max-width property */
	width: 100%;

	/* needs to be multipled by two b/c its centered. otherwise it moves only half the amount */
	--extra-padding-on-left: 2 * var(--margin-root);
	max-width: calc(var(--max-width) + var(--extra-padding-on-left));
}

#main-nav>* {
	/* Prevent layout shift when hovering over element */
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;

	/* The padding is here rather than in the gap property of the parent b/c it makes the touch target larger */
	padding: var(--margin-root);
}

#main-nav a {
	/* Prevent the color from being set to blue */
	color: var(--color-text);

	/* Prevent the underline from showing up under the links */
	text-decoration: none;
}

#main-nav a * {
	vertical-align: middle;
}

#main-nav a:hover,
#main-nav a:focus {
	/* Transparent white to allow the background color to bleed through */
	background: rgba(255, 255, 255, 0.2);

	/* On the top and bottom, make the border color white. On the left and right, make it transparent */
	border-color: white transparent;

	/* Prevent that blue box from showing. Only ok because we have other (very obvious) ways of indicating that this element is focused */
	outline: none;
}

#schedule h4,
#schedule p {
	display: inline;
}

/* h2, */
/* h3, */
h4 {
	color: var(--brand-light-yellow-2);
	display: inline;
}

.highlight {
	color: var(--brand-light-yellow-2);
	/* Change to desired color */
}

#icon {
	width: 1.5em;
	height: 1.5em;

	margin-right: 0.5em;

	border-radius: 1.5em;
}

h1>div {
	color: var(--brand-dark-yellow);

	/* For proper image vertical alignment */
	display: flex;
	justify-content: center;
	align-items: center;
}

#below-header {
	font-size: 1.1em;
	text-align: center;

	--margin-vertical: 2em;
	margin-top: var(--margin-vertical);
	margin-bottom: var(--margin-vertical);
}

.sign-up {
	text-align: center;
	margin: 1em auto;
}

.sign-up * {
	color: var(--brand-dark-purple);
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: text-decoration-color 0.2s ease-in-out, border 0.2s ease-in-out;

	padding: 0.25em;
	border-radius: 0.5em;

	border-width: 0.1em;
	border-color: transparent;
	border-style: solid;

	background-color: var(--brand-dark-yellow);

}

.sign-up2:hover *,
.sign-up2:focus *,
.sign-up:hover *,
.sign-up:focus * {
	/* border-color: var(--brand-dark-purple); */
	text-decoration-color: var(--brand-dark-purple);
}

#sdgs {
	position: relative;
}

.sdg-img {
	width: 20%;
}